<html Lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Password Reset Code</title>

        <style>
            .space {margin-bottom: 25px}
            .no-space {
                margin-bottom: 0;
                margin-top: 0;
            }        </style>

    </head>
    <body>
        <h1 class="space">Password Reset Code</h1>
        <p class="space">Please use this code to reset the password for the Stick It account {{userEmail}}</p>
        <p class="space">Here is your code: <strong>{{token}}</strong></p>
        <p class="no-space">Thanks,</p>
        <p class="no-space">The Stick It Account team</p>
    </body>
</html>